<nav>
  <button (click)="selectedCategory = 'watches'">Watches</button>
  <button (click)="selectedCategory = 'headphones'">Headphones</button>
  <button (click)="selectedCategory = 'camera'">Cameras</button>
  <button (click)="selectedCategory = 'phones'">Phones</button>
  <button (click)="selectedCategory = 'laptops'">Laptops</button>
  <button (click)="selectedCategory = 'Gaming_Consoles'">Consoles</button>
  <button (click)="selectedCategory = ''">All</button>
</nav>

<main *ngIf="!isProductPage()">
  <app-products [selectedCategory]="selectedCategory"></app-products>
</main>

<router-outlet></router-outlet>